Найти:
<input ng-model="myQuery" ng-change="myFilter()">
<hr>
<div>
    Тип:
    <select ng-model="myTypeFilter" ng-change="myFilter()">
        <option value="">Все покемоны</option>
        <option value="water">Вода</option>
        <option value="grass">Трава</option>
        <option value="normal">Норма</option>
        <option value="fire">Огонь</option>
        <option value="poison">Яд</option>
        <option value="electric">Электричество</option>
    </select>
</div>
<hr>
<div>
Сортировать по:
<select ng-model="myOrderProperty" ng-change="myFilter()">
    <option value="id">ID</option>
    <option value="name">Имени</option>
    <option value="-weight">Весу</option>
</select>
</div>
<hr>
<h1>Результаты:</h1>
<ul>
    <li ng-repeat="pokemon in result">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="nameAlert(pokemon.name)">
        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="classType(pokemon.type)">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <div>Тип: <code ng-repeat="type in pokemon.type" ng-class="classType(type)">{{type}}&emsp;</code>
        </div>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>