<form name="vm.profile" novalidate ng-controller="MyAccountCtrl as $ctrl">
    <fieldset ng-if="$ctrl.formActive">
        <div class="form-group">
            <label>Имя</label>
            <input class="form-control" data-ng-model="vm.profile.data.name" type="text" placeholder="Имя" required ng-minlength="3" name="profileName">
        </div>

        <div ng-messages="vm.profile.profileName.$error" ng-if="vm.profile.profileName.$dirty">

            <div ng-message="required" class="alert alert-danger" role="alert">А где имя?</div>
            <div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>

        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input class="form-control" data-ng-model="vm.profile.data.email" type="email" required placeholder="E-Mail" data-ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' name="profileEmail">
        </div>

        <div ng-messages="vm.profile.profileEmail.$error" ng-if="vm.profile.profileEmail.$dirty">
            <div ng-message="required" class="alert alert-danger">E-mail тоже обязателен!</div>
            <div ng-message="pattern" class="alert alert-danger">Введите правильный e-mail</div>
        </div>

        <div class="form-group">
            <label>Телефон</label>
            <input class="form-control" data-ng-model="vm.profile.data.phone" type="tel" placeholder="Телефон" data-ng-pattern='/^\+?[0-9\-]{5,21}$/' name="profilePhone">
        </div>

        <div ng-messages="vm.profile.profilePhone.$error" ng-if="vm.profile.profilePhone.$dirty">
            <div ng-message="pattern" class="alert alert-danger">Это не похоже на телефон</div>
        </div>

        <button type="submit" class="btn btn-default" data-ng-disabled="vm.profile.$invalid" ng-click="$ctrl.save(vm.profile.data)">Сохранить
        </button>
    </fieldset>
    <fieldset ng-if="!$ctrl.formActive">
        <div class="form-group">
            <label>Имя</label>
            <h2>{{ $ctrl.data.name }}</h2>
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <h2>{{ $ctrl.data.email }}</h2>
        </div>

        <div class="form-group">
            <label>Телефон</label>
            <h2>{{ $ctrl.data.phone }}</h2>
        </div>

        <div ng-messages="vm.profile.profilePhone.$error" ng-if="vm.profile.profilePhone.$dirty">
            <div ng-message="pattern" class="alert alert-danger">Это не похоже на телефон</div>
        </div>

        <button type="submit" class="btn btn-default" data-ng-disabled="vm.profile.$invalid" ng-click="$ctrl.edit()">Edit
        </button>
    </fieldset>
</form>
{{ $ctrl.profile.data }}